<div class="sidebar" [class.collapsed]="menuColapsado">

  <button class="toggle-btn" (click)="menuColapsado = !menuColapsado">
    <span>☰</span>
  </button>

  <div class="logo">
    <h2 *ngIf="!menuColapsado">CRUDs · Cotización</h2>
    <p *ngIf="!menuColapsado">Sistema de riesgos vehiculares</p>
  </div>

  <h4 *ngIf="!menuColapsado">ENTIDADES</h4>

  <nav>
    <a class="menu-link" routerLink="/cobertura-riesgo" routerLinkActive="active">
      <span class="dot red"></span>
      <span *ngIf="!menuColapsado">Coberturas del Riesgo</span>
    </a>

    <a class="menu-link" routerLink="/datos-riesgo" routerLinkActive="active">
      <span class="dot blue"></span>
      <span *ngIf="!menuColapsado">Datos del Riesgo</span>
    </a>

    <a class="menu-link" routerLink="/tomadores" routerLinkActive="active">
      <span class="dot orange"></span>
      <span *ngIf="!menuColapsado">Tomadores</span>
    </a>

    <a class="menu-link" routerLink="/marcavehiculo" routerLinkActive="active">
      <span class="dot cyan"></span>
      <span *ngIf="!menuColapsado">Marcas de Vehículo</span>
    </a>

    <a class="menu-link" routerLink="/coberturas" routerLinkActive="active">
      <span class="dot green"></span>
      <span *ngIf="!menuColapsado">Coberturas</span>
    </a>

    <a class="menu-link" routerLink="/deducibles" routerLinkActive="active">
      <span class="dot violet"></span>
      <span *ngIf="!menuColapsado">Deducibles</span>
    </a>

    <a class="menu-link" routerLink="/impuestos-cotizacion" routerLinkActive="active">
      <span class="dot red"></span>
      <span *ngIf="!menuColapsado">Impuestos de Cotización</span>
    </a>

    <a class="menu-link" routerLink="/estados-cotizacion" routerLinkActive="active">
      <span class="dot yellow"></span>
      <span *ngIf="!menuColapsado">Estados de Cotización</span>
    </a>

  </nav>

</div>