<nav>
  <a routerLink="/datos-riesgo" routerLinkActive="active">Datos de Riesgo</a>
  <br>
  <a routerLink="/deducibles" routerLinkActive="active">Deducibles</a>
  <br>
  <a  routerLink="/tomadores" routerLinkActive="active">Tomadores</a>
  <br>
  <a  routerLink="/marcavehiculo" routerLinkActive="active">Marca Vehículo</a>
  <br>
  <a  routerLink="/coberturas" routerLinkActive="active">Coberturas</a>
  <br>
  <a routerLink="/impuestos-cotizacion" routerLinkActive="active">Impuestos</a>
  <br>
  <a routerLink="/estados-cotizacion" routerLinkActive="active">Estados de Cotización</a>
</nav>
