html,
body {
    margin: 0;
    height: 100vh;
}

app-root {
    display: block;
    height: 100vh;
}

/* Contenedor general */
.app-layout {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background: #f8fafc;
}

/* Contenido de las páginas */
.content {
    flex: 1;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

menu {
    margin-left: -20px;
}



