<div class="crud-container">
    <div class="table-panel">

        <div class="toolbar">
            <h2>Coberturas</h2>
            <input type="text" class="search" placeholder="Buscar cobertura...">
            <button class="btn-new" (click)="newCoverage()">+ Nuevo</button>
        </div>

        <div class="table-wrapper">
            <table class="custom-table">
                <thead>
                    <tr>
                        <th>Nombre Cobertura</th>
                        <th>Tasa Público</th>
                        <th>Tasa Particular</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of coverages" [class.selected]="form.get('id_cobertura')?.value === c.id_cobertura">
                        <td>{{c.nombre_cobertura}}</td>
                        <td>{{c.tasa_publico}}</td>
                        <td>{{c.tasa_particular}}</td>
                        <td class="acciones">
                            <button class="btn-icon btn-view" (click)="view(c)" title="Ver"> 
                                <mat-icon>visibility</mat-icon> 
                            </button>
                            <button class="btn-icon btn-edit" (click)="edit(c)" title="Editar">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button class="btn-icon btn-delete" (click)="delete(c)" title="Eliminar">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="form-panel">
        <div class="form-header">
            <h2> {{ mode === 'create' ? 'Nuevo registro': (mode === 'edit' ? 'Editar registro' : 'Ver registro') }} </h2>
            <span *ngIf="form.get('id_cobertura')?.value">
                REG {{form.get('id_cobertura')?.value}}
            </span>
        </div>

        <form [formGroup]="form" (ngSubmit)="save()">
            <div class="form-group">
                <label>ID Cobertura</label>
                <input type="text" formControlName="id_cobertura" [readonly]="mode !== 'create'">
            </div>
            <div class="form-group">
                <label>Nombre Cobertura *</label>
                <input type="text" formControlName="nombre_cobertura" [readonly]="mode === 'view'">
                <small class="error"
                    *ngIf="form.get('nombre_cobertura')?.touched &&
                        form.get('nombre_cobertura')?.hasError('required')">
                    El nombre de la cobertura es obligatorio.
                </small>
            </div>
            <div class="form-group">
                <label>Tasa Público *</label>
                <input type="number" formControlName="tasa_publico" [readonly]="mode === 'view'">
                <small  class="error"
                    *ngIf="form.get('tasa_publico')?.touched &&
                        form.get('tasa_publico')?.hasError('required')">
                    La tasa pública es obligatoria.
                </small>
                <small class="error"
                    *ngIf="form.get('tasa_publico')?.touched &&
                        form.get('tasa_publico')?.hasError('min')">
                    La tasa pública debe ser mayor que cero.
                </small>
            </div>
            <div class="form-group">
                <label>Tasa Particular *</label>
                <input type="number" formControlName="tasa_particular" [readonly]="mode === 'view'">
                <small  class="error"
                   *ngIf="form.get('tasa_particular')?.touched &&
                        form.get('tasa_particular')?.hasError('required')">
                    La tasa particular es obligatoria.
                </small>
                <small class="error"
                    *ngIf="form.get('tasa_particular')?.touched &&
                        form.get('tasa_particular')?.hasError('min')">
                    La tasa particular debe ser mayor que cero.
                </small>
            </div>

            <div class="buttons" *ngIf="mode !== 'view'">
                <button class="btn-save" type="submit">
                    {{ mode === 'edit' ? 'Actualizar' : 'Guardar' }}
                </button>
                <button class="btn-cancel" type="button" (click)="newCoverage()">
                    Cancelar
                </button>
            </div>
        </form>
    </div>
</div>
