<button (click)="newCoverage()">Nueva cobertura</button>

<div *ngIf="mode">
  <h2>{{ mode === 'create' ? 'Nuevo registro' : (mode === 'edit' ? 'Editar registro' : 'Ver registro') }}</h2>

  <form [formGroup]="form" (ngSubmit)="save()">

    <div>
      <label>Id Cobertura</label>
      <input type="text" formControlName="id_cobertura">
    </div>

    <div>
      <label>Nombre Cobertura</label>
      <input type="text" formControlName="nombre_cobertura">
    </div>

    <div>
      <label>Tasa Publico</label>
      <input type="number" formControlName="tasa_publico">
    </div>

    <div>
      <label>Tasa Particular</label>
      <input type="number" formControlName="tasa_particular">
    </div>

    <div *ngIf="mode !== 'view'">
      <button type="submit">Guardar</button>
    </div>

  </form>
</div>

<div>
  <table>
    <thead>
      <tr>
        <th>id_cobertura</th>
        <th>nombre_cobertura</th>
        <th>tasa_publico</th>
        <th>tasa_particular</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of coverages">
        <td>#{{ c.id_cobertura }}</td>
        <td>{{ c.nombre_cobertura }}</td>
        <td>{{ c.tasa_publico }}</td>
        <td>{{ c.tasa_particular }}</td>
        <td>
          <button (click)="view(c)">Ver</button>
          <button (click)="edit(c)">Editar</button>
          <button (click)="delete(c)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>